<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.thicksandwich.minimalistsavingstracker" >
    
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>

    <application
        android:name="com.thicksandwich.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup">
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.login.Authentication"
            android:label="Minimalist Savings Tracker"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.initialization.PinSetup"
            android:label = "Pin Setup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.initialization.TwoFactorSetup"
            android:label = "Security Question Setup"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.forgotpin.ForgotPin"
            android:label = "Forgot Pin">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.forgotpin.ForgotPinChange"
            android:label = "Change Pin">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.login.ChangeTwoFactor"
            android:label = "Change Security Question">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.AddTransaction"
            android:label = "New Transaction">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.EditBalance"
            android:label = "@string/EditBalance">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.Credits"
            android:label="Credits">
        </activity>
        <activity
            android:name="com.thicksandwich.minimalistsavingstracker.login.ChangePin"
            android:label="Change Authentication Pin">
        </activity>
    </application>

</manifest>